@charset "UTF-8";
/*░░░░░ NORMALIZE ░░░░░*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*░░░░░ CLEARFIX ░░░░░*/
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

/*░░░░░ LAYOUT ░░░░░*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333; }

p {
  line-height: 1.8; }

main {
  color: #333; }

h1 {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  color: #82c95b;
  line-height: 43px; }

h2 {
  color: #F1F0EB;
  text-align: center;
  font-size: 40px; }

h3 {
  color: #82c95b;
  border-bottom: solid 1px #82c95b;
  font-size: 25px; }

a {
  text-decoration: none;
  color: #82c95b; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.innerWrapper {
  max-width: 970px;
  padding: 0 20px;
  margin: 0 auto; }

body {
  background: #82c95b; }

header {
  padding: 35px 0;
  text-align: center;
  background: #F1F0EB; }
  header p {
    width: 80%;
    margin: 0 auto; }

main {
  padding: 50px 0;
  background-color: #ffca76; }
  main h2 {
    margin-bottom: 50px; }
  main .results {
    text-align: center; }
    main .results .userImage, main .results .userEmoji {
      display: inline-block;
      overflow: hidden;
      border-radius: 50%;
      height: 350px;
      width: 350px; }
    main .results .userImage {
      background: #82c95b;
      color: #82c95b;
      -o-object-fit: cover;
         object-fit: cover; }
      main .results .userImage img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    main .results .userEmoji {
      margin-left: 20px; }
      main .results .userEmoji p {
        font-size: 200px;
        line-height: 350px;
        text-align: center;
        background: #82c95b; }
  main .inputs {
    margin-bottom: 50px; }
    main .inputs .inputImage, main .inputs .inputSubmit, main .inputs label {
      line-height: 50px;
      max-height: 50px;
      border: 0px;
      color: #333; }
    main .inputs .inputImage {
      width: calc(60% - 20px);
      padding-left: 10px;
      float: left;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-left: 20px; }
    main .inputs .inputSubmit:hover, main .inputs label:hover {
      background: #91cf6e; }
    main .inputs .inputSubmit {
      width: 20%;
      float: right;
      background: #82c95b;
      color: #F1F0EB;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    main .inputs #inputFile {
      display: none; }
    main .inputs label {
      background: #82c95b;
      border-radius: 10px;
      text-align: center;
      width: 20%;
      display: block;
      color: #F1F0EB;
      float: left;
      cursor: pointer; }

section {
  padding: 50px 0px;
  background: #F1F0EB; }
  section ul {
    padding: 0px;
    margin: 5px 0 20px 0;
    line-height: 1.8; }
    section ul span {
      font-weight: 900; }
    section ul li {
      text-transform: capitalize; }
  section p {
    margin-bottom: 20px; }

footer {
  text-align: center;
  line-height: 50px;
  background: #F1F0EB; }

@media screen and (max-width: 1400px) {
  main .results .userEmoji p {
    font-size: 146px; } }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
    line-height: 40px; }
  main .results .userImage, main .results .userEmoji {
    width: 250px;
    height: 250px; }
  main .results .userEmoji {
    margin-left: 20px; }
    main .results .userEmoji p {
      font-size: 100px;
      line-height: 250px;
      text-align: center;
      background: #82c95b; } }

@media screen and (max-width: 585px) {
  header {
    padding: 10px; }
    header h1 {
      font-size: 25px; }
  main {
    padding: 20px 0; }
    main h2 {
      font-size: 25px; }
    main .results .userImage, main .results .userEmoji {
      height: 150px;
      width: 150px; }
    main .results .userEmoji {
      margin-left: 20px; }
      main .results .userEmoji p {
        font-size: 100px;
        line-height: 150px; }
    main .inputs {
      font-size: .9em;
      margin-bottom: 50px; }
      main .inputs .inputImage {
        width: 70%;
        margin: 0; }
      main .inputs .inputSubmit {
        width: 30%;
        float: right; }
      main .inputs label {
        margin-bottom: 20px;
        width: 100%; }
  section {
    padding-top: 30px; } }

@media screen and (max-width: 390px) {
  header {
    padding: 10px; }
    header h1 {
      font-size: 25px; }
  main {
    padding: 20px 0; }
    main h2 {
      font-size: 25px;
      margin-bottom: 20px; }
    main .results .userImage, main .results .userEmoji {
      height: 100px;
      width: 100px; }
    main .results .userEmoji p {
      font-size: 60px;
      line-height: 100px; }
    main .inputs {
      font-size: .9em;
      margin-bottom: 50px; }
      main .inputs .inputImage {
        width: 70%;
        margin: 0; }
      main .inputs .inputSubmit {
        width: 30%;
        float: right; }
      main .inputs label {
        margin-bottom: 20px;
        width: 100%; } }
