@media screen and (max-width:800px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    main {
            .results {
                .userImage, .userEmoji {
                    width: 250px;
                    height: 250px;
                }
                .userEmoji {
                    margin: 0;
                p {
                    font-size: 100px;
                    line-height: 250px;
                    text-align: center;
                    background: $accent;
                }
            }
            }
        }
}

@media screen and (max-width:550px) {
    header {
    }
    main {
        .results {
            .userImage, .userEmoji {
                height: 150px;
                width: 150px;
            }
            .userEmoji {
                margin-left: 0px;
                p {
                    font-size: 100px;
                    line-height: 150px;
                }
            }
        }
        .inputs {
            font-size: .9em;
            margin-bottom: 50px;
            .inputImage {
                width: 70%;
                margin: 0;
            }
            .inputSubmit {
                width: 30%;
                float: right;
            }
            label {
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}