@media screen and (max-width:800px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    main {
            .results {
                .userImage, .userEmoji {
                    width: 250px;
                    height: 250px;
                }
                .userEmoji {
                    margin-left: 20px;
                p {
                    font-size: 100px;
                    line-height: 250px;
                    text-align: center;
                    background: $accent;
                }
            }
            }
        }
}

@media screen and (max-width:585px) {
    header {
        padding: 10px;
        h1 {
            font-size: 25px;
        }
    }
    main {
        padding: 20px 0;
        h2 {
            font-size: 25px;
        }
        .results {
            .userImage, .userEmoji {
                height: 150px;
                width: 150px;
            }
            .userEmoji {
                margin-left: 20px;
                p {
                    font-size: 100px;
                    line-height: 150px;
                }
            }
        }
        .inputs {
            font-size: .9em;
            margin-bottom: 50px;
            .inputImage {
                width: 70%;
                margin: 0;
            }
            .inputSubmit {
                width: 30%;
                float: right;
            }
            label {
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
    section {
        padding-top: 30px;
    }
}
@media screen and (max-width:390px) {
        header {
        padding: 10px;
        h1 {
            font-size: 25px;
        }
    }
    main {
        padding: 20px 0;
        h2 {
            font-size: 25px;
            margin-bottom: 20px;
        }
        .results {
            .userImage, .userEmoji {
                height: 100px;
                width: 100px;
            }
            .userEmoji {
                p {
                    font-size: 60px;
                    line-height: 100px;
                }
            }
        }
        .inputs {
            font-size: .9em;
            margin-bottom: 50px;
            .inputImage {
                width: 70%;
                margin: 0;
            }
            .inputSubmit {
                width: 30%;
                float: right;
            }
            label {
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}