@import "setup";
@import "colours";
@import "typography";

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.innerWrapper {
    max-width: 970px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    background: $accent;
}

header {
    padding: 35px 0;
    text-align: center;
    background: $white;
    p {
        width: 80%;
        margin: 0 auto;
    }
}

main {
    padding: 50px 0;
    background-color: $main;
    h2 {
        margin-bottom: 50px
    }
    .results {
        text-align: center;
        .userImage, .userEmoji {
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            height: 350px;
            width: 350px;
        }
        .userImage {
            background: $accent;
            color: $accent;
            object-fit: cover;
            img {
                width: 100%;;
                height: 100%;
                object-fit: cover;
            }
        }
        .userEmoji {
            margin-left: 20px;
            p {
                font-size: 200px;
                line-height: 350px;
                text-align: center;
                background: $accent;
            }
        }
    }
    .inputs {
        margin-bottom: 50px;
        .inputImage,
        .inputSubmit {
            line-height: 50px;
            max-height: 50px;
            border: 0px;
            color: $black;
        }
        .inputImage {
            width: 80%;
            padding-left: 10px;
            float: left;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .inputSubmit {
            width: 20%;
            float: right;
            background: $accent;
            color: $white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover {
                background: $accentL
            }
        }
    }
}
section {
    ul {
        padding: 0px;
        margin: 5px 0 20px 0;
        line-height: 1.8;
        span {
            font-weight: 900;
        }
    }
    padding: 50px 0px;
    background: $white;
    p {
        margin-bottom: 20px;
    }
}

footer {
    text-align: center;
    line-height: 50px;
    background: $white;
}

@import "responsive";